.DS_Store

build/
cmake-build-*/
out/
bin/


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
build/

.cache/
tests/

*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

com
a.out

*.dSYM/
*.gcda
*.gcno
*.profraw
*.profdata

.vscode/
.idea/
*.swp

output.txt
*.log
*.tmp